.search_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.search_text {
    margin: 0;
    color: black;
}

.search_input {
    width: 100%;
    outline: none;
}
.search_input:focus {
    border-color: #563cea;
}